DEVICE={{ ETHERNET }}
NM_CONTROLLED=yes
USERCTL=no
ONBOOT=yes
TYPE=Ethernet
NAME={{ ETHERNET }}
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=no
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPADDR={{ external_ip }}
PREFIX=24
GATEWAY={{ external_gw }}
IPV6_DISABLED=yes
ZONE=external
